.header {
  width: 97.%;
  padding: 15px 20px;
  background: #007bff;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  background: white;
  color: #007bff;
  border: none;
  margin-right: 10px;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
}
b{
    font-size: larger;
    justify-content: center;
    text-align: center;
}
