.container {
  width: 100%;
  min-height: 100vh;
  background: #b0ccf6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.card {
  background: white;
  padding: 25px;
  padding-right: 40px;
  border-radius: 10px;
  width: 400px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}